<ng-container>

    <mat-card class="mat-elevation-z0">

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" fxLayout="column">
            <ng-container *ngFor="let item of formStructure">

                <ng-container [ngSwitch]="item.type">

                    <ng-container *ngSwitchCase="'textbox'">

                        <mat-form-field appearance="outline">
                            <mat-label>{{item?.name}}</mat-label>
                            <input matInput type="text" [placeholder]="item?.placeholder"
                                [formControlName]="item.formcontrol">
                            <mat-error *ngFor="let validation of item.validators">
                                <ng-container
                                    *ngIf="formGroup.controls[item.formcontrol].touched && formGroup.controls[item.formcontrol].errors">
                                    <span *ngIf="formGroup.controls[item.formcontrol].errors[validation.name]">
                                        {{validation.message}}
                                    </span>
                                </ng-container>
                            </mat-error>
                        </mat-form-field>

                    </ng-container>

                    <ng-container *ngSwitchCase="'textArea'">
                        <mat-form-field appearance="outline">
                            <mat-label>{{item?.name}}</mat-label>
                            <textarea matInput [formControlName]="item.formcontrol"
                                [placeholder]="item?.placeholder"></textarea>
                            <mat-error *ngFor="let validation of item.validators">
                                <ng-container
                                    *ngIf="formGroup.controls[item.formcontrol].touched && formGroup.controls[item.formcontrol].errors">
                                    <span *ngIf="formGroup.controls[item.formcontrol].errors[validation.name]">
                                        {{validation.message}}
                                    </span>
                                </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngSwitchCase="'selectBox'">

                        <mat-form-field appearance="outline">
                            <mat-label>{{item?.name}}</mat-label>
                            <mat-select [formControlName]="item.formcontrol" [placeholder]="item?.placeholder">
                                <mat-option *ngFor="let options of item?.options" [value]="options.id">{{options.content.title}}</mat-option>
                            </mat-select>
                            <mat-error *ngFor="let validation of item.validators">
                                <ng-container
                                    *ngIf="formGroup.controls[item.formcontrol].touched && formGroup.controls[item.formcontrol].errors">
                                    <span *ngIf="formGroup.controls[item.formcontrol].errors[validation.name]">
                                        {{validation.message}}
                                    </span>
                                </ng-container>
                            </mat-error>
                        </mat-form-field>

                    </ng-container>

                    <ng-container *ngSwitchCase="'checkBox'">
                        <mat-checkbox class="pb-2" [formControlName]="item.formcontrol">{{item?.name}}</mat-checkbox>
                    </ng-container>

                    <ng-container *ngSwitchCase="'image'">
                        <input type="file"  (change)="onFileChange($event)" accept="image/*">
                    </ng-container>

                </ng-container>

            </ng-container>

            <div fxLayoutAlign="flex-end">
                <button mat-flat-button color="primary">Save</button>
            </div>

        </form>

    </mat-card>

</ng-container>