<div class="row">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">{{formStructure?.header}}</h5>
      </div>
      <div class="card-body">
        <!-- (submit)="submit(f)" #f="ngForm" -->
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

          <div *ngFor="let item of formStructure?.fields | keyvalue">
            <div [ngSwitch]="item.value">
              <div *ngSwitchCase="'textbox'" class="form-group">
                <div class="col-md-12">
                  <label for="item.key">{{item.key}}</label>
                  <input type="text" id="item.key" class="form-control" [formControlName]="item.key" required>
                </div>
              </div>
              <div *ngSwitchCase="'parent_drop_down'" class="form-group">
                <div class="col-md-12">
                  <label for="item.key">{{item.key}}</label>
                  <select id="item.key" class="form-control">
                    <option value="Biriyani">Biriyani</option>
                    <option value="Cake">Cake</option>
                  </select>
                </div>
              </div>
              <!-- <div *ngSwitchCase="'number_input'" class="form-group">
                  <label for="secret">{{item.key}}</label>
                  <input type="number" class="form-group" matInput name="item.key" placeholder="1" >
                </div> -->
              <div *ngSwitchCase="'text_area'" class="form-group">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{item.key}}</label>
                    <textarea class="form-control textarea" [formControlName]="item.key"></textarea>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'check'" class="form-group">
                <div class="col-md-12">
                  <input type="checkbox" [formControlName]="item.key"> <label>{{item.key}}</label><br>
                </div>
              </div>
              <div *ngSwitchCase="'upload'" class="form-group">
                <div class="col-md-12">
                  <input type="file" name="file" id="file" class="inputfile" />
                  <label for="file">Choose a file</label>
                </div>
              </div>
              <!-- <div ng-switch-default>...</div>  -->
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Create</button>
            </div>
          </div>
        </form>
        <!-- <form [formGroup]="forms" (submit)="onSubmit()">
            <div *ngFor="let element of form">
              <div [ngSwitch]="element.inputType">
                <label [for]="element.id">{{ element.name }}</label
                ><span *ngIf="element?.required">*</span>
                <br />
                <div *ngSwitchCase="'input'">
                  <div *ngIf="element.type === 'radio'; else notRadio">
                    <div *ngFor="let option of element.options">
                      <input
                        [type]="element.type"
                        [name]="element.name"
                        [id]="option.id"
                        [formControlName]="element.name"
                        [value]="option.value"
                      />
                      <label [for]="option.id">{{ option.label }}</label
                      ><span *ngIf="element?.required">*</span>
                    </div>
                  </div>
                  <ng-template #notRadio>
                    <input
                      [type]="element.type"
                      [id]="element.name"
                      [formControlName]="element.name"
                    />
                  </ng-template>
                </div>
                <select
                  [name]="element.name"
                  [id]="element.id"
                  *ngSwitchCase="'select'"
                  [formControlName]="element.name"
                >
                  <option [value]="option.value" *ngFor="let option of element.options">{{
                    option.label
                  }}</option>
                </select>
              </div>
            </div>
            <button>Submit</button>
          </form> -->
      </div>
    </div>
  </div>

</div>