<mat-sidenav-container>
    <mat-sidenav mode="side" opened>

        <div class="p-1" fxLayout="row" fxLayoutAlign="start center">
            <img class="logo-image-small" src="assets/img/favicon.png">
            <a mat-button>
                <h3 href="" class="simple-text logo-normal m-0">Cloud Kitchen </h3>
            </a>
        </div>

        <mat-nav-list dense fxLayout="column" fxLayoutGap="10px" class="p-2">
            <ng-container *ngFor="let route of routes">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <mat-icon mat-list-icon color="accent">{{route?.icon}}</mat-icon>
                    <a mat-list-item [routerLink]="route.path"> {{route?.title}} </a>
                </div>
            </ng-container>
        </mat-nav-list>

        <!-- <mat-accordion multi class="p-1">
            <ng-container *ngFor="let route of routes">
                <mat-expansion-panel expandedHeight="50px" collapsedHeight="50px" class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                            <mat-icon color="accent">{{route?.icon}}</mat-icon>
                            <span>{{route?.title}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let sub of route.subMenus" [routerLink]="sub.link"> {{ sub?.title }}
                        </a>
                    </mat-nav-list>
        
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion> -->

    </mat-sidenav>
    <mat-sidenav-content>
        <navbar-cmp></navbar-cmp>
        <div class="content content-top p-2">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </mat-sidenav-content>
</mat-sidenav-container>