<mat-sidenav-container class="main-container">
    <mat-sidenav mode="side" opened>
        <div class="p-1" fxLayout="row" fxLayoutAlign="start center">
            <img class="logo-image-small" src="assets/img/favicon.png">
            <a mat-button>
                <h3 href="" class="simple-text logo-normal m-0">Cloud Kitchen </h3>
            </a>
        </div>
        <div class="mt-3">
            <app-menu [menuItems]="sidenavMenuItems"></app-menu>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <navbar-cmp></navbar-cmp>
        <div class="content content-top">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </mat-sidenav-content>
</mat-sidenav-container>