.content-top{
    margin-top: 100px;
    height: 100%;
    overflow: auto;
}

.logo-image-small{
    height: 50px;
}

.mat-sidenav {
    width: 250px;
    position: fixed;
  }

  .mat-sidenav-container{
      background-color: #f4f3ef !important;
      min-height:100vh;
  }
