<mat-sidenav-container>
    <mat-sidenav mode="side" opened>

        <div class="p-1" fxLayout="row" fxLayoutAlign="start center">
            <img class="logo-image-small" src="assets/img/favicon.png">
            <a mat-button>
                <h3 href="" class="simple-text logo-normal m-0">Cloud Kitchen </h3>
            </a>
        </div>

        <mat-nav-list dense fxLayout="column" fxLayoutGap="10px" class="p-2">
            <ng-container *ngFor="let route of sidenavMenuItems">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <mat-icon mat-list-icon color="accent">{{route?.icon}}</mat-icon>
                    <a mat-list-item [routerLink]="route.path"> {{route?.title}} </a>
                </div>
            </ng-container>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <navbar-cmp></navbar-cmp>
        <div class="content content-top p-2">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </mat-sidenav-content>
</mat-sidenav-container>