<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Coupons</h4>
      </div>
      <a routerLink="/masters/coupons/create">
        <button type="button" class="btn btn-primary btn-round pull-left">Add New Coupons</button>
      </a>
      <!-- <div class="row"> -->
      <!-- <div class="update ml-auto mr-auto"> -->
      <!-- <button type="button" class="btn btn-primary btn-round">Add New Category</button> -->
      <!-- </div> -->
      <!-- </div> -->
      <div class="card-body">
        <!-- <div class="table-responsive"> -->
        <table class="table">
          <thead class=" text-primary">
            <th>
              #
            </th>
            <th>
              Coupon Types
            </th>
            <th>
              Title
            </th>
            <th>
              Description
            </th>
            <th>
              Status
            </th>
            <th>
              Action
            </th>
          </thead>
          <tbody>
            <ng-container *ngFor="let type of coupens?.message; let i = index">
              <tr>
                <td>
                  {{i+1}}
                </td>
                <td>
                  {{type.coupon_type.content['title']}}
                </td>
                <td>
                  {{type.content['title']}}
                </td>
                <td>
                  {{type.content['description']}}
                </td>

                <td>
                  <span style="color:rgb(38, 248, 38)" *ngIf="type.content['status'] == 1">●</span>
                  <span style="color:red" *ngIf="type.content['status'] == 0">●</span>
                </td>
                <!-- <td>
                      <button mat-button><i class="fa fa-edit" (click)="element.edit = true"></i> Edit </button>
                      <button mat-button><i class="fa fa-delete" *ngIf="element.edit"></i> Delete </button>
                    </td> -->
              </tr>
            </ng-container>

          </tbody>
        </table>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>